:root {
    --bg-color: #F3F4F5;
    --header-bg: white;
    --theme-font: 'Source Sans Pro', sans-serif;
    --theme-font-color: rgba(0,0,0,0.7);
    --theme-black: rgba(0,0,0,0.9);
    --theme-white: rgba(255,255,255,0.9);
    --theme-blue: #2D6CC0;
    --theme-gold: #F1AB00; 
    --theme-gray: #7A6E67;
    --monospace-font: 'Source Code Pro', monospace;
    --student-image: 100px;
    --student-header-height: 300px;
    --student-header-top-height: calc(var(--student-header-height)*.7);
}

body,html {
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--bg-color);
    color: var(--theme-font-color);
    font-family: var(--theme-font);
    font-size: 16px;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 1.8em;
}

main > div {
    position: relative;
}
.heading-line {
    position: absolute;
    top: 1.2em;
    width: 100%;
    height: 20px;
    border-bottom: 2px solid #ccc;
    border-right: 3px solid #ccc;
    transform: skew(-45deg);
}

i.material-icons {
    position: relative;
    top: 3px;
    font-size: 1em;
}

a {
    transition: all 0.2s ease;
}

a:link, a:visited, a:hover, a:active {
    color: var(--theme-font-color);
}

#nav-drawer {
    position: fixed;
    background: #fff;
    z-index: 999;
    width: 75%;
    height: 100%;
    left: -75%;
    transition: all 0.2s ease;
}

#nav-drawer ul {
    list-style-type: none;
    padding: 0;
}

#nav-drawer li {
    padding-left: 20px;
}

#nav-drawer ul:first-child a:first-child {
    font-weight: 600;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

#nav-drawer ul:first-child a:last-child {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

#nav-drawer ul:first-child {
    margin-bottom: 0;
}

#nav-drawer ul:last-child {
    margin-top: 0;
}

#nav-drawer a.listing {
    border: none;
}

#nav-drawer + #nav-overlay {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#nav-drawer.expanded {
    transform: translateX(100%);
    box-shadow: 3px 0 16px -3px rgba(0, 0, 0, 0.4);
    overflow: auto;
}

#nav-drawer.expanded + #nav-overlay {
    display: block;
}

#hamburger-icon {
    font-size: 1.8em;
    padding-right: 14px;
    top: 0;
}

/* mobilzed, desktop view added to media */
body > header, body > footer {
    margin: 0;
    padding: 0 32px;
    display: flex;
}

/* mobilzed, desktop view added to media */
body > header {
    height: 60px;
    background-color: var(--header-bg);
    align-items: center;
}

body > header a,body > footer a {
    text-decoration: none;
    color: var(--theme-font-color);
}

body > header a .title {
    font-weight: 600;
    font-size: 1.4em;
}

main > div.posts-list:not(:first-child) {
    margin-top: 80px;
}

/* mobilzed, desktop view added to media */
header > .nav, footer > .nav {
    display: none;
}

.nav ul, .ul-contributors {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    /* font-weight: 600; */
    font-size: 1.0em;
    padding: 0 8px;
    transition: all 0.5s ease;
    border-bottom: 2px solid rgba(255,255,255,0);
}

.nav li:hover {
    /* text-shadow: 0 0 1px rgba(0,0,0,0.5); */
    text-shadow: 0 0 1px rgba(45,108,192,0.5);
    /* text-shadow: 0 0 1px var(--theme-blue); */
    border-bottom: 2px solid var(--theme-gold);
    color: var(--theme-blue);
}

.ul-contributors li {
    display: inline;
}

.ul-contributors li:not(:last-child)::after {
    content: ',';
}

.ul-contributors li:nth-last-child(2)::after {
    content: ', &';
}
main {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

main p {
    text-align: justify;
}

.post-content {
    margin-top: 40px;
    font-size: 12px;
}

.post-content p {
    font-size: 16px;
    line-height: 1.6em;
}

.post-content h1 {
    border-bottom: 1px solid #ccc;
}

.post-content h2 {
    font-weight: 600;
}

body > footer {
    height: 50px;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
}

body > footer div {
    margin: 0 10px;
}

.last-update {
    font-style: italic;
    font-size: 0.6em;
}

article.summary {
    display: block;
    font-size: 14px;
    text-decoration: none;
}

.summary > header, .summary > footer {
    margin: 5px 0;
}

.summary h2 {
    margin: 0;
    font-weight: 600;
}

.summary > p {
    margin: 8px 0;
}

a.listing {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    font-size: 1.4em;
}

a.listing:hover {
    background-color: hsla(0,0%,98%,1);
}

.post-contributors ul {
    display: inline-block;
}

.tags {
    margin: 10px 0;
}

a.tag {
    display: inline-block;
    margin: 4px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--theme-blue);
    text-decoration: none;
    font-weight: 600;
    color: var(--theme-white);
}

.student {
    display: flex;
    flex-direction: column;
}

.student-header {
    position: relative;
    width: 100%;
    height: var(--student-header-height);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.student-header-top {
    width: 100%;
    height: var(--student-header-top-height);
    background-color: rgba(45,108,192,0.5);
}

.student-header-center {
    position: absolute;
    height: var(--student-image);
    width: var(--student-image);
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 999;
    background-color: #ccc;
    overflow: hidden;
}

.student-header-center img {
    position: absolute;
    width: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.student-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: calc(var(--student-header-height) - var(--student-header-top-height));
    background-color: rgba(241,171,0,0.5);
    color: var(--theme-white);
}

.student-header-bottom {
    font-size: 12px;
}

.student-major {
    text-align: right;
}

.student-header h1, .student-header h2 {
    margin: 10px 20px;
}

.student-header h1 {
    font-weight: 600;
}

.student-info {
    padding: 20px;
    background-color: white;
    line-height: 1.6em;
}

.student-info ul {
    list-style-type: none;
}

.student-projects {
    position: relative;
    font-size: 14px;
    margin-top: 40px;
}

.student-projects h1 {
    padding-left: 10px;
    font-size: 1.2em;
}

.student-projects .heading-line {
    left: 1em;
    width: 96%;
}

.student-projects a {
    padding-left: 20px;
}

@media screen and (min-width: 376px) {
    #hamburger-icon, #nav-drawer {
        display: none;
    }

    body > header, body > footer {
        margin: 0;
        padding: 0 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    body > header {
        height: 50px;
    }

    body > footer {
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }

    header > .nav, footer > .nav {
        display: block;
    }

    .student-header-bottom {
        font-size: 16px;
    }

    .student-info {
        font-size: 1.2em;
    }
}
